doctype html
html(lang='en')
	title ABBYY
	meta(charset='utf-8')
	meta(name='viewport', content='width=1420, user-scalable=yes')
	link(href='./css/style.css', rel='stylesheet')
	body
		.hero
			.hero__row
				span.hero--logo
				.hero--lang
					a(href='') Rus
					a(href='') Eng
				span.hero--title
				p.hero--description Welcome to ABBYY journey! Here you will find out: What is ABBYY? Where we come from? What we believe in and how we develop our company? What we value in ABBYY people? Enjoy the discovery!
				.hero__controls
					a.hero--button.hero--button_play(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox) #[i] Play Video
					button.hero--button.hero--button_more Discover More
				i.hero--character
				i.hero--circle(data-parallax='300')
				i.hero--plus(data-parallax='225')
			.hero--bg.video-bg
				video(width='1280', height='720', poster='./media/v.jpg', autoplay, loop, muted)
					source(src='./media/v.mp4', type='video/mp4')
		.about
			.about__row
				span.title(data='What is ABBYY', data-parallax='150') #[span What is ABBYY]
				.about__content
					p Founded in 1989 by David Yang, then the 4th-year physics student in Moscow, ABBYY is now a truly global company, provider of content intelligence solutions and services. Thousands of organizations, more than 50 million users in 200 countries rely on our solutions.
					p We create a complete range of technologies based on Artificial Intelligence that transform business documents and content into business value. By providing digital transformation solutions to financial services, insurance, transportation, healthcare and other industries, we help organizations achieve the next wave of growth, understand customers and deliver responsive real-time intelligent systems. 
					p We have a worldwide presence with global offices in Europe (Munich, Germany), Russia (Moscow) and North America (Milpitas, California). ABBYY also has regional offices in Australia, UK, France, Spain, Ukraine, Japan, Taiwan and Cyprus.
					.about-stats
						.about-stats--item
							i.about-stats--icon
								img(src='./img/icon-city.svg', width='38', height='59', alt='')
							p Thousands #[br] of corporate customers
						.about-stats--item
							i.about-stats--icon
								img(src='./img/icon-city.svg', width='38', height='59', alt='')
							p 1000+ employees
						.about-stats--item
							i.about-stats--icon
								img(src='./img/icon-city.svg', width='38', height='59', alt='')
							p 400+ patents and patent applications
						.about-stats--item
							i.about-stats--icon
								img(src='./img/icon-city.svg', width='38', height='59', alt='')
							p 11 offices
						.about-stats--item
							i.about-stats--icon
								img(src='./img/icon-city.svg', width='38', height='59', alt='')
							p Over 50M users
						.about-stats--item
							i.about-stats--icon
								img(src='./img/icon-city.svg', width='38', height='59', alt='')
							p Partners in 200+ countries and regions
					i.about--globe
		.history
			.history__row
				i.history--circle(data-parallax='300')
				.history__title
					span.title(data='History', data-parallax='150') #[span History]
					i.history--character
					.history-elem
						i.history-elem--animation
						.history-elem--icon
							img(src='./img/icon-history.svg', width='108', height='92', alt='')
				.history-slider
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p • Was opened our office in Japan.
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2010
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2011
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2012
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2013
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2014
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2015
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2016
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2017
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
					.history-slider__item
						.history-slider__col
							.history-slider__content
								p 2018
								p • In MIPT, the Department of Image Recognition and Text Processing began its work - the basic department of ABBYY. #[br] The company has a new product line - the development of products for mobile platforms.
								p • ABBYY Recognition Server was released, a solution for streaming documents and organizing electronic archives in companies.
								p • We signed an agreement on international cooperation with Xerox.
								p • ABBYY Mobile OCR Engine - a tool for developing images in mobile devices.
							.history-slider--pic
								img.img-cover(src='./pic/history-1.jpg', width='564', height='375', alt='')
				.timeline
					.timeline__list
						.timeline__row
							.timeline__item #[span 2009]
							.timeline__item #[span 2010]
							.timeline__item #[span 2011]
							.timeline__item #[span 2012]
							.timeline__item #[span 2013]
							.timeline__item #[span 2014]
							.timeline__item #[span 2015]
							.timeline__item #[span 2016]
							.timeline__item #[span 2017]
							.timeline__item #[span 2018]
					span.timeline-prev
						include ./img/history-prev.svg
					span.timeline-next
						include ./img/history-next.svg
					span.timeline-arrow
		.values
			.values__row
				i.values--circle_big
				i.values--circle(data-parallax='300')
				i.values--plus(data-parallax='225')
				span.title(data='Values', data-parallax='150') #[span Values]
				.values-we
			.values-content
				.values-nav
					span.values-nav--title We
					span.values-nav--wheel.values-nav--wheel_1
					span.values-nav--link.values-nav--link_1.is-active(data='1') Care and go the extra mile
					span.values-nav--link.values-nav--link_2(data='2') Work as a team
					span.values-nav--link.values-nav--link_3(data='3') Innovate for customers
					span.values-nav--link.values-nav--link_4(data='4') Are Open-minded
				.values-slider
					.values-slider__item
						span.values-slider--title We believe we help our customers gain competitive edge by addressing their current and future needs through innovations and technologies.
						.values-slider__grid
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We strive to be the very best in everything we do. We care about superior execution.
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We are proactive because we care about the success of our customers.
							br
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We use our drive to inspire our customers and partners. 
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We are proud of what we do and who we are.
					.values-slider__item
						span.values-slider--title We believe that strong teamwork and trust are vital for the company’s success. 
						.values-slider__grid
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We value the humanity component of the work. We are open, honest and ethical in our behavior. 
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We acknowledge differences in cultural backgrounds, ideas and opinions. We trust each other.
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We seek what is best for ABBYY rather than ourselves or our group. We work in a transparent way. 
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We respect individuals #[br] at all levels.
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We celebrate wins of company #[br] and each employee.
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We solve problems together and not pass the buck or blame others.
					.values-slider__item
						span.values-slider--title We believe we help our customers gain competitive edge by addressing their current and future needs through innovations and technologies.  
						.values-slider__grid
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p For us innovation is when we connect knowledge about customers with our engineering expertize, thus we create value for our customers. 
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p Technology is our passion. We invest our time and knowledge in creating state-of-the-art intelligent solutions.
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We engage and listen to customers, partners, analysts and thought leaders to understand and predict future customer needs.
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p In our reality new trends constantly shift and disrupt markets. We must be agile and ready for changes. 
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We test areas of potential value and focus on promising ones. We choose our battles and cut our losses. 
					.values-slider__item
						span.values-slider--title We believe that creativity and innovation come from being open #[br] to new things and learning from mistakes.
						.values-slider__grid
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We continuously learn and are open to external knowledge. We develop, improve and take responsibility. 
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We are tolerant to mistakes. We accept that mistakes are a natural part of growth and improvement.
							br
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We are open-minded in exploring unchartered territories and taking risks.
							.values-slider__col
								.values-slider--content
									i.values-slider--icon.values-slider--icon_1
									p We analyze our mistakes and wins honestly, and are open to a rapid change of direction if we see fit.
		.stories
			.stories__title
				span.title(data='Top Stories', data-parallax='150') #[span Top Stories]
			.stories__row
				i.stories--circle_1(data-parallax='300')
				i.stories--plus(data-parallax='225')
				.stories-slider.stories-slider_l
					.stories-slider__item
						.stories-slider__row
							a.stories-slider__lc(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
								.stories-slider--pic
									i.play-icon
									img.img-cover(src='./pic/stories-1.jpg', width='470', height='365', alt='')
								span.stories-slider--text ABBYY History
							.stories-slider__content
								ul
									li
										span.stories-slider--name David Yang
										p Founder and director #[br] of the board of ABBYY
									li
										span.stories-slider--name Vadim Tereshchenko
										p COO
					.stories-slider__item
						.stories-slider__row
							a.stories-slider__lc(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
								.stories-slider--pic
									i.play-icon
									img.img-cover(src='./pic/stories-1.jpg', width='470', height='365', alt='')
								span.stories-slider--text ABBYY History
							.stories-slider__content
								ul
									li
										span.stories-slider--name David Yang
										p Founder and director #[br] of the board of ABBYY
									li
										span.stories-slider--name Vadim Tereshchenko
										p COO
			.stories__row
				.stories-slider.stories-slider_r
					.stories-slider__item
						.stories-slider__row
							.stories-slider__content
								ul
									li
										span.stories-slider--name Andrey Isaev
										p Chief Product Officer
									li
										span.stories-slider--name Tatiana Danielyan
										p Deputy Chief Technical Officer
									li
										span.stories-slider--name Jupp Stoepetie
										p Chief Marketing Officer
							a.stories-slider__lc(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
								.stories-slider--pic
									i.play-icon
									img.img-cover(src='./pic/stories-1.jpg', width='470', height='365', alt='')
								span.stories-slider--text How we develop our technologies #[br] and products
					.stories-slider__item
						.stories-slider__row
							.stories-slider__content
								ul
									li
										span.stories-slider--name Andrey Isaev
										p Chief Product Officer
									li
										span.stories-slider--name Tatiana Danielyan
										p Deputy Chief Technical Officer
									li
										span.stories-slider--name Jupp Stoepetie
										p Chief Marketing Officer
							a.stories-slider__lc(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
								.stories-slider--pic
									i.play-icon
									img.img-cover(src='./pic/stories-1.jpg', width='470', height='365', alt='')
								span.stories-slider--text How we develop our technologies #[br] and products
			.stories__row
				i.stories--circle_2(data-parallax='300')
				.stories-slider.stories-slider_l
					.stories-slider__item
						.stories-slider__row
							a.stories-slider__lc(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
								.stories-slider--pic
									i.play-icon
									img.img-cover(src='./pic/stories-1.jpg', width='470', height='365', alt='')
								span.stories-slider--text How we work in Global ABBYY
							.stories-slider__content
								ul
									li
										span.stories-slider--name Office
										p Moscow (Global Office, 3A, ABBYY Russia)
										p USA
										p Europe (Munich office, UK, France)
										p Australia, New Zeland and Japan 
										p Kiev
					.stories-slider__item
						.stories-slider__row
							a.stories-slider__lc(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
								.stories-slider--pic
									i.play-icon
									img.img-cover(src='./pic/stories-1.jpg', width='470', height='365', alt='')
								span.stories-slider--text How we work in Global ABBYY
							.stories-slider__content
								ul
									li
										span.stories-slider--name Office
										p Moscow (Global Office, 3A, ABBYY Russia)
										p USA
										p Europe (Munich office, UK, France)
										p Australia, New Zeland and Japan 
										p Kiev
		.people
			.people__title
				span.title(data='Top Stories') #[span Top Stories]
			.people__row
				.people__content
					span.people--photo(data-open='person', style='left:26px;top:-23px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person-1', style='left:794px;top:-35px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:520px;top:55px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:1074px;top:121px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:220px;top:183px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:736px;top:282px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:979px;top:360px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:354px;top:396px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:103px;top:516px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:612px;top:516px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:1233px;top:516px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:-14px;top:793px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
						
					span.people--photo(data-open='person', style='left:1154px;top:793px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:120px;top:1102px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:795px;top:1102px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:1074px;top:1102px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:578px;top:1274px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:282px;top:1333px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
					span.people--photo(data-open='person', style='left:957px;top:1411px')
						img.img-cover(src='./pic/person-1.jpg', width='117', height='156', alt='')
		.footer
			i.footer--line
			i.footer--character
			i.footer--elem-v
			i.footer--elem-h(data-parallax='150')
			i.footer--circle(data-parallax='300')
			i.footer--circle_big(data-parallax='150')
			span.footer--title #ONEABBYY
		.modal(data-target='person')
			span.modal--close
			.modal__lc
				.modal--pic
					img(src='./pic/person-1.jpg', width='117', height='156', alt='')
				a.play-icon(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
				span.modal--desc Video #[br] About Me
			.modal__rc
				p Hello, my name is 
				span.modal--name Maria Goryushkina
				p Short text about me.ABBYY is a global leader of content intelligent solutions and services. ABBYY offers a complete range of AI-based technologies and solutions transforming business documents and content into business value. By providing digital transformation solutions to financial services, insurance, transportation, healthcare and other industries, the company helps organizations achieve the next wave of growth by understanding customers and delivering responsive real-time intelligent systems. 
		.modal(data-target='person-1')
			span.modal--close
			.modal__lc
				.modal--pic
					img(src='./pic/person-1.jpg', width='117', height='156', alt='')
				a.play-icon(href='https://www.youtube.com/watch?v=hnnQpN2vbDc', data-fancybox)
				span.modal--desc Video #[br] About Me
			.modal__rc
				p Hello, my name is 
				span.modal--name Maria Goryushkina 1
				p Short text about me.ABBYY is a global leader of content intelligent solutions and services. ABBYY offers a complete range of AI-based technologies and solutions transforming business documents and content into business value. By providing digital transformation solutions to financial services, insurance, transportation, healthcare and other industries, the company helps organizations achieve the next wave of growth by understanding customers and delivering responsive real-time intelligent systems. 
		script(src='./js/libs.js')
		script(src='./js/scripts.js')